/* Rectangle 1 */
.rectangulo1{
    position: absolute;
    width: 400px;
    height: 944px;
    left: 1000px;
    top: 40px;
    
    /* White */
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.logo{

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
    
    }
.botones{
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

position: absolute;
width: 680px;
height: 67px;
left: 240px;
top: 885px;


}
.cajaTexto{/* Ingrese el texto aqui */

    position: absolute;
    width: 577px;
    height: 48px;
    left: 240px;
    top: 168px;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height, or 48px */
    
    /* Dark blue/dark-blue-300 */
    color: #0A3871;
    
    }

